
body {
    width: 400px;
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #87a6e5;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #95cbed;
    transition: 0.3s;
}

    .tab-button.active {
        background: #cce7ff;
        font-weight: bold;
    }

.tab-content {
    display: none; /* Ensure inactive tabs are hidden */
    padding: 10px;
}

    .tab-content.active {
        display: block; /* Only show the active tab */
    }

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hwb(220 59% 23%);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 600px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    width: 90%;
    max-width: 280px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: black;
    font-size: 28px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 170px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #9cbbf7;
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}
a {
    position: absolute;
    text-decoration: none;
    color: white;
    z-index: 1000;
}
button::after{
    content: "";
    top: 0;
    left: 0;
    width: 170px;
    height: 70px;
   
    opacity: 0;
    transition: 0.3s;
}

button:hover {
    box-shadow: -5px -5px 0 0;
    transform: scale(0.9);
}
button:hover::after {
    opacity: 1;
}


user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


